@media (min-width: 1200px){
    :root{
        --section-gap: 6rem;
    }

    .hero{
        flex-direction: row;
        gap: 0;

        padding: 2rem 8rem;
    }

    .hero picture{
        width: 110%;
        height: auto;
    }

    .hero picture::after{
        left: 50%;
        transform: translate(-50%, 0%);
    }

    .description{
        background-color: white;

        padding: 2rem;
        border-radius: 0 12px 12px 0;

        text-align: left;
        font-size: 1.25rem;

        box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
    }
    
    .description > .icons{
        justify-content: flex-end;
    }

    .projects{
        grid-template-columns: 1fr 1fr 1fr;

        padding: 0 6rem;
    }

    .projects > h1 {
        grid-column: 1/4;
    }

    .projects > h1::after{
        bottom: -32px;
    }

    .project{
        font-size: 1rem;
        grid-template-rows: 2fr 1fr;
    }

    .contact{
        flex-direction: row;
        justify-content: center;
        align-items: center;

        padding: 2rem;
    }

    .contact picture{
        width: 30%;
        height: auto;
    }

    .contact-main{
        padding: 0 2rem;
    }
}